
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Body */
body {
    max-width: 1580px;
    margin: auto;
}

/* Header section */

#header-section{
    background-image: url(Images/banner-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 60px;
    padding-right: 60px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    justify-content: center;
    align-items: center;
}

.t-color{
    background: linear-gradient(90deg, #F948B2, #8758F1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#banner-img{
    width: 100%;
    height: 84vh;
}

.banner-heading{
    font-size: 60px;
    line-height: 65px;
}

.banner-btn{
    background-color: #FF42A5;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
    font-weight: bold;
}

.banner-btn-second{
    background-color: #4EC5F7;
}

.b-text{
    line-height: 25px;
}

/* Navbar css */
nav {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    height: 16vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #111;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a#special-a{
    background-color: #f4f2f1;
    padding: 10px;
}

nav .menu-btn i {
    color: #111;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* Online-games-section */

.online-games-section{
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.Online-games{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.section-head{
    text-align: center;
}

/* Bonus hover */
    .bonus-hover{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: -70%;
        opacity: 0;
    }

    .bonus-hover:hover{
        color: white;
        opacity: 1;
    }

    .online-games-bonus:hover{
        opacity: 0.2;
    }
/* bonus hover finished */

.play-instantly-section{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}

.play-instantly{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 200px;
    justify-content: center;
    align-items: center;
}

.double-image{
    display: flex;
    justify-content: center;
    margin-top: -300px;
}

#play-img{
    width: 100%;
    height: 86vh;
}

.four-section{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

.forth{
    display: flex;
    align-items: center;
}

.forth:hover{
    border: 2px solid #FF42A5;
    border-radius: 8px;
    color: #FF42A5;
}


/* footer */

footer{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #131212;
    color: white;
    padding: 20px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.foot-text{
    display: flex;
    justify-content: center;
}

.social{
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.foo{
    margin-top: 20px;
    color: gray;
}



/* Responsive Section */

@media (max-width: 445px) {

    /* Header section */

    #header-section{
        background-size: cover;
        padding-left: 15px;
        padding-right: 15px;
        grid-gap: 30px;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }

    #banner-img{
        width: 100%;
        height: 47vh;
    }

    .header-content{
        order: 1;
    }

    .header-image{
        order: 0;
    }

    .banner-heading{
        font-size: 50px;
        line-height: 65px;
    }
    
    /* Navbar Responsive */

    nav{
        padding-left: 15px;
        padding-right: 15px;
        height: 12vh;
    }

    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    nav ul {
        position: fixed;
        top: 106px;
        left: -100%;
        background: #FFF8F3;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 15px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    /* online-games-section */

    .online-games-section{
        margin-top: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .Online-games{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }

    .online-games-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-instantly-section{
        padding-left: 15px;
        padding-right: 15px;
    }

    .play-instantly{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .double-image{
        display: flex;
        margin-top: -150px;
    }
    
    #play-img{
        width: 70%;
        height: 50vh;
    }
    
    .d-img{
        width: 40%;
    }

    .four-section{
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    
    /* footer */

footer{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #131212;
    color: white;
    padding: 20px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.foot-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.social{
    margin-top: 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.foo{
    margin-top: 20px;
    color: gray;
}
}